.landing-page-container {
  margin: auto;
  padding-top: 2%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.intro-page-container {
  margin: auto;
  width: 100%;
  padding-top: 2%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 125%;
  max-width: 700px;
  height: 125%;
  align-self: center;
  padding-right: 2.5%;
}

.sign-in-button, .sign-up-button {
  background-color: #1db854;
  width: 60%;
  height: 40px;
  margin: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 1);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.sign-up-button  {
  background-color: white;
  color: black;
}

.small-button {
  width: 50%;
  align-self: flex-end;
  border-style: none;
  margin-right: 0%;
  margin-top: 20px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 1);
  color: white;
  background-color: #1db854;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.white-link {
  text-decoration: none;
  color: white;
}

.black-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.form-inputs {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.sign-in-input {
  width: auto;
  margin: 10px;
  margin-right: 0;
  height: 35px;
  font-size: 16px;

}

.checkbox {
  align-self: flex-start;
  margin: 8px;
  margin-bottom:20px;
}

.small-logo {
  width: 30%;
  min-width: 150px;
  padding-right: 2.5%;
}

.intro-title {
  font-size: 7vw;
  color: white;
  align-self: flex-start;
  padding: 25px 0px 35px 0px;
}

.intro-button {
  background-color: white;
  width: 60%;
  max-width: 300px;
  height: 50px;
  margin: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 1);
  color: black;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.green {
  background-color: #1db854;
  color: white;
  max-width: 150px;
}

.host-title {
  font-size: 5vw;
  font-weight: 500;
  color: white;
  align-self: center;
  padding: 25px 0px 35px 0px;
}

.welcome-title {
  font-size: 10vw;
  font-weight: 500;
  color: white;
  align-self: center;
  padding: 10px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.titles {
  font-size: 5vw;
  font-weight: 500;
  color: white;
  align-self: center;
  padding: 20px 0px 20px 0px;
}


.white-text {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}